.lms-icon-frame {
    height: 100%;
    width: 100%;
}

.lms-toggle-input {
    cursor: pointer;
    transform: scale(1.3);
}

.lms-timeline-item {
    border-color: #e5e7eb;
}

.lms-timeline-item-last {
    border-color: transparent;
}

.lms-settings-page .form-switch .form-check-input:checked {
    background-color: #696cff;
    border-color: #696cff;
}
